.header {
    background-color: #FF00FF;
    padding-top: 50px;
    color: yellow;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}
.header ul {
    padding-left: 10px;
    color: aqua;
}
.header ul li {
    padding-left: 10px;      
    display: inline;
}
.header ul li a{
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
.header ul li a:hover{
    color: #fdda11;
    padding-left: 5px;
}

.left {
    background-color: #b3ff00;
    width: 20%;
    float: left;
    height: 300px;
    /*border: 3px solid #1900ff;*/
}

.left ul {
    list-style: none;
    padding-left: 5px;
}

.main {
    background-color: #ffb07b;
    width: 60%;
    float: left;
}
.right {
    background-color: #bea1f5;
    width: 20%;
    float: right;
}
.footer {
    clear: both;
    background-color: #FF00FF;
    text-align: center;
}